<!DOCTYPE html>
<html lang="en">
<%- include ("./includes/head") %>
<body>
<%- include ("./includes/header") %>

<div class="d-flex" id="wrapper"></div>
<div class="admin-portal-wrapper">
    <%- include ("./includes/sidebar") %>

    <div class="adminPortalContent" id="productMgmt">
        <%- include ("./productMgmt") %>
    </div>

    <div class="adminPortalContent" id="branchMgmt">
        <%- include ("./branchMgmt") %>
    </div>

    <div class="adminPortalContent" id="adminStats">
        <%- include ("./adminStats") %>
    </div>

    <div class="adminPortalContent" id="userMgmt">
        <%- include ("./userManagement") %>
    </div>
</div>


<script src="/public/js/adminPortal.js"></script>
<%- include ("./includes/scripts") %>
<%- include ("./includes/footer") %>
</body>
</html>
