<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/public/css/branches.css">
    <!-- <link rel="stylesheet" href="/public/css/styles.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <%- include('./includes/header') %>
    <div class="container">
        <div id="branches">
            <div id="branchHeader">
                <h1 class="formtitle">Branches</h1>
                <input id="branchSearchBar" class="form-control" type="text" placeholder="Search"/>
                <p class="d-flex gap-1 mt-1">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="filterActiveBranches">
                        <label class="form-check-label" for="filterActiveBranches">Filter Active Branches</label>
                    </div>
                    <select class="form-select" id="location" required>
                        <option value="" disabled selected>Filter location</option>
                        <option value="true">North</option>
                        <option value="false">Center</option>
                        <option value="false">South</option>
                    </select>
                </p>
            </div>
            <div id="branchList">
                <!-- Branch cards will be appended here by JavaScript -->
            </div>
        </div>
        <div id="map"></div>
    </div>
    <%- include('./includes/footer') %>
    <%- include ("./templates/branchCard") %>
    <%- include ("./includes/scripts") %>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/public/js/branches.js"></script>
    <script src="/public/js/map.js"></script>
</body>
</html>
