<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/public/css/menu.css">
</head>
<body>
    <%- include('./includes/header') %>

    <div class="menu_items" id="menuItems">
        <!-- Dynamic content will be inserted here -->
    </div>
    <%- include("templates/addProductToCartPopup") %>


    <%- include('./includes/footer') %>
    <%- include ("./includes/scripts") %>
    <script src="/public/js/menu.js"></script>
</body>
</html>
